body {
    margin: 0em auto;
    width: 55%;
    height: 100%;
    background-color:
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0em;
    list-style: none;
    font-weight: bold;
    overflow: hidden;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 1em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    /* text-decoration: underline; */
    opacity: .5;
}
h1 {
    font-size: 2.8em;
    line-height: 2.8em;
    font-family:"Open Sans", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom:-0.7em;
}

p {
    font-size: 1em;
    line-height: 1.1em;
    color: #333;
    font-family:"Open Sans", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0.3em;
}

p.title {
    font-size: 1.5em;
    line-height: 2.3em;
    color: #333;
    font-weight: bold;
    margin-bottom:1em;
}
/* name */
p.name {
    font-size: 1.3em;
    line-height: 1.3em;
    color: #000000;
    /* font-weight: bold; */
    margin-bottom:0em;
    margin-top:0em;
}
/* p.name:hover {
    text-decoration: underline;
} */
p.year {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #333;
    font-weight: bold;
    margin-bottom:.5em;
    margin-top:1em;
}

p.header {
    font-size: 2.8em;
    line-height: 1em;
    margin-top:-3em;
    margin-bottom:-3em;
    font-weight: bold;
}
p.person {
    font-size: 2.8em;
    line-height: 1em;
    margin-top:-3em;
    margin-bottom:-3em;
}


footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 16em;
  /* height: 20em; */
  /* padding: 0em; */
  /* box-sizing: border-box; */
}

.column1 {
  float: left;
  width: 12em;
  height: 20em;
  padding: 0.5em;
  box-sizing: border-box;
}

.column2 {
  float: left;
  width: 48%;
  /* 24.4em; */
  height: 100%;
  padding: 0.2em;
  box-sizing: border-box;
}

.column3 {
  float: left;
  width: 52%;
  /* 26.4em; */
  /* height: 20em; */
  padding: 0.2em;
  box-sizing: border-box;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  /* border: 0.1em solid #ddd;*/
  border-radius: 0.4em;
  /* padding: 0.4em; */
  width: 11em;
}

#hover_box:hover {
  box-shadow: 0 0 3px 2px #8C4AF7;
}

.bright {
    background-color: white;
    display: inline-block;
}
.bright img:hover {
    opacity: .5;
}

hr {
  background-color: #D3D3D3;
  border-color: #D3D3D3;
}

@media (max-width:675px) {
  .banner {
    height: 13%;
  }
}

@media (min-width:675px; max-width:1175) {
  .banner {
    height: 7%;
  }
}

@media (min-width:1175px) {
  .banner {
    height: 7%;
  }
}
